<link rel="stylesheet" href="/static/css/style.css">

<h2>Login</h2>

<form action="/auth/login" method="POST">
    <label for="auth-email">email</label>
    <input id="auth-email" type="email" name="email">
  
    <label for="auth-password">password</label>
    <input id="auth-password" type="password" name="password">
  
    <input type="submit" class="button" value="log in">
</form>