<h2>drinks with <%= ingred %></h2>
<ul>
    <% ingrRes.forEach(result => { %>
        <li style="list-style-type: none;" class="results">
            <a href="/recipe/<%= result.idDrink %>">
                <%= result.strDrink %>
        </li>
    <% }) %>
</ul>