<% if(nameRes === undefined) { %>
    <h4>no drinks for you!</h4>
    <h6>try again!</h6>
<% } else {%>
    <ul>
        <% nameRes.forEach(result => { %>
            <li>
                <a href="/recipe/<%= result.idDrink %>">
                    <%= result.strDrink %>
                </a>
            </li>
        <% }) %>
    </ul>
<% } %>