<% if(nameRes == undefined) { %>
    <h4>no drinks for you!</h4>
    <h6>try again!</h6>
<% } else {%>
    <ul style="list-style-type: none;">
        <% nameRes.forEach(result => { %>
            <li style="list-style-type: none;" class="results">
                <a href="/recipe/<%= result.idDrink %>">
                    <%= result.strDrink %>
                </a>
            </li>
        <% }) %>
    </ul>
<% } %>