<link rel="stylesheet" href="/static/css/mainpage">

<form action="/recipe" method="POST">
    <label for="byName">search by drink name</label>
    <input type="text" name="byName" id="byName">
    <input type="submit">
</form>
<form action="/ingredient" method="POST">
    <label for="byIngr">search by ingredient</label>
    <input type="text" name="byIngr" id="byIngr">
    <input type="submit">
</form>