<% if(ingrRes === undefined) { %>
    <h4>nothing for you!</h4>
    <h6>try again!</h6>
<% } else { %>
    <ul>
        <% ingrRes.forEach(result => { %>
            <li>
                <a href="/drinksByIngredient/<%= result.strIngredient %>">
                    <%= result.strIngredient %>
                </a>
                <form action="/myBar/addToBar" method="POST">
                    <input hidden type="text" name="ingrName" value="<%= result.strIngredient %>">
                    <button type="submit">add to bar!</button>
                </form>
            </li>
        <% }) %>
    </ul>
<% } %>