<% if(ingrRes === undefined) { %>
    <h4>no drinks for you!</h4>
    <h6>try again!</h6>
<% } else { %>
    <ul>
        <% ingrRes.forEach(result => { %>
            <li>
                <a href="/drinksByIngredient/<%= result.strIngredient %>">
                    <%= result.strIngredient %>
                </a>
            </li>
        <% }) %>
    </ul>
<% } %>