<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pour decisions</title>
</head>
<body>
    <header>
        <h1>pour decisions</h1>
        <nav>
            <ul>
              <% if (!currentUser) { %>
                <li><a href="/auth/signup">signup</a></li>
                <li><a href="/auth/login">login</a></li>
              <% } else { %>
                <li><a href="/auth/logout">logout</a></li>
                <li><a href="/profile">profile</a></li>
                <li><a href="/">home</a></li>
                <li><a href="/myDrinks">my drinks</a></li>
                <li><a href="/myBar">my bar</a></li>
              <% } %>
            </ul>
          </nav>
    </header>
    <%- include('partials/alerts') %>
    <%- body %> 
</body>
</html>