<h2>my bar</h2>

<% myBar.forEach(ingred => { %>
    <h4>
        <a href="/ingredient/<%= ingred.name %>"><%= ingred.name %></a>
    </h4>
    <form action="/ingredient/<%= ingred.name %>?_method=DELETE" method="POST">
        <button type="submit">remove</button>
    </form>
<% }) %>