<link rel="stylesheet" href="/static/css/style.css">

<h2>my drinks</h2>

<% myDrinks.forEach(drink => { %>
    <h4>
        <a href="/recipe/<%= drink.idDrink %>"><%= drink.name %></a>
    </h4>
    <form action="/recipe/<%= drink.idDrink %>?_method=DELETE" method="POST">
        <button type="submit">remove</button>
    </form>
<% }) %>
