<% if(nameRes === undefined) { %>
    <h4>no drinks for you!</h4>
    <h6>try again!</h6>
<% } else {%>
    <ul>
        <% nameRes.forEach(function(result) { %>
            <li>
                <a href="/drinksByName/<%=result.strDrink%>">
                    <%= result.strDrink %>
                    <% result.idDrink %>
                </a>

            </li>
        <% }) %>
    </ul>
<% } %>